* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2eadf;
  color: #5a4a42;
}
/* font-family: 'Cormorant Infant', serif;
font-family: 'Jost', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Quicksand', sans-serif; */
header {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-size: 160px;
  font-family: "Julius Sans One", sans-serif;
}
h2 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 800;
  font-size: 40px;
}
h3 {
  font-size: 22px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}

h6 {
  font-size: 16px;
}
p,
li,
.download {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  line-height: 2rem;
  text-decoration: none;
  color: #5a4a42;
  /* color: rgb(181, 79, 2); */
}

header ul li {
  list-style: none;
  line-height: 2rem;
  font-family: "Julius Sans One", sans-serif;
  /* color: black; */
  text-decoration: none;
  text-align: right;
}
header ul li a {
  font-size: 18px;
}
.socialLink {
  text-align: right;
  margin-top: 0.4rem;
}
.socialLink a {
  margin-left: 0.5rem;
}
.container {
  width: 86%;
  margin: auto;
  padding-top: 240px;
  padding-bottom: 2rem;
}
.home {
  position: relative;
  height: 100vh;
}

.location {
  position: absolute;
  bottom: 4rem;
  left: 0;
}
.worksList {
  padding: 2rem;
  width: 40%;
  position: relative;
  align-self: flex-end;
  position: absolute;
  bottom: 2rem;
  right: 0;
}

.worksList li {
  list-style-type: none;
  line-height: 3rem;
  border-bottom: 0.5px solid black;
}

@media screen and (max-width: 1164px) {
  h1 {
    font-size: 110px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  .worksList {
    width: 50%;
  }
  header {
    padding: 40px 60px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  header ul li {
    display: inline;
    margin-left: 1.2rem;
  }
  .container {
    width: 80%;
  }
  .worksList {
    padding: 2rem 1rem;
    width: 55%;
  }
  header {
    padding: 40px 50px;
  }
  header ul li a {
    font-size: 16px;
  }
}

/*  -----------------------------WorkPage */
.work section {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.singleWork:nth-child(even) {
  align-self: flex-end;
  flex-direction: row-reverse;
}

/*  -----------------------------compenent */
.singleWork {
  margin-top: 15rem;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: justify;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.singleWork img {
  width: 100%;
  height: 100%;
}
.singleWorkDescription {
  width: 600px;
}
.Techniques {
  display: flex;
  flex-direction: row-reverse;

  flex-wrap: wrap;
  margin: 1rem;
}
.Techniques h6 {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.workPicBox {
  width: 600px;
  height: 310px;
  overflow: hidden;
  border: 1px solid #5a4a42;
}
.workPicBox img {
  width: 100%;
  height: auto;
}
.techBadge {
  font-size: 14px;
  border: 1px solid #5a4a42;
  border-radius: 15px;
  padding: 0.1rem 0.6rem;
}
.live_detail_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.workPicBox:hover .live_detail_btn {
  opacity: 100%;
  transition: opacity 0.5s;
}
.live_detail_btn button {
  padding: 0.8rem 1.6rem;
  margin: 0rem 1rem 1rem 0rem;
  background-color: #cb641fd9;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #7e2b02;
  z-index: 1;
}
@media screen and (max-width: 1164px) {
  .singleWork {
    flex-direction: column;
  }
  .singleWork:nth-child(even) {
    align-self: flex-start;
    flex-direction: column;
  }
  .live_detail_btn {
    opacity: 100;
  }
}
@media screen and (max-width: 800px) {
  .workPicBox {
    width: 480px;
    height: 260px;
    overflow: hidden;
    border: 1px solid #5a4a42;
  }
  .singleWorkDescription {
    width: 480px;
  }
  .live_detail_btn {
    opacity: 100;
  }
}

@media screen and (max-width: 640px) {
  .workPicBox {
    width: 380px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #5a4a42;
  }
  .singleWorkDescription {
    width: 380px;
  }
  .live_detail_btn {
    opacity: 100;
  }
}
/* -----------------------------about page */
.skillSet {
  margin-top: 8rem;
}
.about section {
  padding: 3.5rem 0;
  border-bottom: 0.5px solid #5a4a4261;
  display: flex;
}
.about section h3 {
  width: 20%;
}
.about section p {
  line-height: 2.5rem;
}
.about button {
  height: 40px;
  padding: 0 2rem;
  margin-top: 2rem;
  background-color: #f2eadf;
  border: 1px solid #5a4a42;
  box-shadow: 1px 1px 2px #5a4a42;
}
.content {
  display: flex;
  width: 80%;
}
.subcontent {
  padding: 0 4rem 0 0;
  width: 50%;
}
@media screen and (max-width: 1164px) {
  .about section {
    flex-direction: column;
    width: 100%;
  }
  .about .content {
    width: 100%;
  }
  .about section h3 {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 890px) {
  .about section {
    flex-direction: column;
  }
  .about section h3 {
    margin-bottom: 1rem;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content div {
    margin-bottom: 2rem;
    width: 100%;
  }
}
/* ---------------------------- Contact page */
.contact {
  height: 100vh;
}
.contact .message {
  margin-top: 8rem;
  line-height: 4rem;
}

.contact a {
  color: #843602;
}
/* ---------------------------- project detail page */
.project_details h1 {
  font-size: 60px;
}

.projectHeader {
  display: flex;
}
.live_git_btn button {
  padding: 0.8rem 1.6rem;
  margin: 0rem 1rem 1rem 0rem;
  background-color: #cb641fd9;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #7e2b02;
  margin-top: 2rem;
}
.projectHeader .project_title {
  width: 50%;
  margin: 8rem 4rem 0 0;
  text-align: end;
  vertical-align: bottom;
}
.projectHeader .workPicBox {
  width: 600px;
  height: 330px;
  overflow: hidden;
}
.project_main {
  width: 70%;
  margin: auto;
}
.project_main .part {
  margin-top: 8rem;
}
.project_main p {
  width: 60%;
  line-height: 2rem;
  text-align: justify;
}
.project_features .feature {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}
.project_features .feature h3 {
  width: 50%;
}
.feature .left {
  width: 60%;
}

@media screen and (max-width: 1650px) {
  .projectHeader {
    flex-direction: column;
    align-items: center;
  }
  .projectHeader .project_title {
    margin-top: 0;
  }
  .projectHeader .workPicBox {
    margin-top: 4rem;
  }
}
footer {
  height: 100px;

  margin-top: 60px;
  text-align: end;
}
footer button {
  padding: 0.8rem 1.6rem;
  margin: 0rem 1rem 1rem 0rem;
  background-color: #cb641fd9;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #7e2b02;
  margin-top: 2rem;
}
